*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #161616;
  font-size: 1.125;
  font-family: "KoHo", sans-serif;
  color: white;
}

.wrapper {
  margin-top: 1.5rem;
  position: relative;
}

ol, ul {
  list-style: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
  transition-duration: 100ms;
}

a:visited {
  color: inherit;
}

a:hover {
  cursor: pointer;
}

.display {
  font-weight: 400;
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.75rem;
  font-weight: 400;
}

.small-text {
  font-size: 14px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: sticky;
}

.diamond {
  background: white;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  transition-duration: 700ms;
  overflow: hidden;
}

.navbar:hover .diamond {
  transform: rotate(315deg);
}

.nav-links {
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
  overflow-y: hidden;
}

.link {
  transition-duration: 700ms;
  transform: translatey(25px);
  opacity: 0;
}

.link:nth-child(2) {
  transition-delay: 50ms;
}

.link:hover {
  cursor: pointer;
  text-shadow: 0px 0px 5px white;
  transition-duration: 250ms;
}

.navbar:hover .link {
  transform: translatey(0px);
  opacity: 1;
}

.carousel {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  gap: 4%;
  position: relative;
}

.img-container {
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 1;
  width: 29%;
  position: relative;
  border-radius: 12px;
  transition-duration: 300ms;
  cursor: pointer;
}

.shadow {
  position: absolute;
  display: block;
  background-image: linear-gradient(to top, rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0));
  bottom: -85px;
  right: -85px;
  transform: rotate(330deg);
  width: 120%;
  height: 40%;
}

.img-container::after {
  content: " ";
}

.img-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  padding: 15px;
}
.img-caption p {
  font-size: 1.5rem;
  margin: 0;
}

.img-caption, .shadow {
  opacity: 0;
  transition-duration: 300ms;
}

.img-container:hover .img-caption,
.img-container:hover .shadow {
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .carousel {
    flex-direction: column;
    gap: 48px;
  }
  .img-container {
    width: 100%;
  }
}
/**********************************
* CHARACTER PAGES
********************************/
.character-info {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.summary {
  width: 65%;
  padding: 32px 0;
}

.stats {
  border: 1px solid white;
  border-radius: 16px;
  padding: 32px 16px;
}
.stats p:first-of-type {
  margin-top: 0;
  font-size: 1.15rem;
}

.header-center {
  text-align: center;
}

hr {
  margin: 48px auto;
}

.stat-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.gallery-img-container {
  border-radius: 16px;
  overflow: hidden;
}

.gallery-img {
  width: 100%;
}

.novelai {
  text-align: right;
}

.novelai a {
  font-weight: 700;
  text-decoration-line: underline;
}/*# sourceMappingURL=style.css.map */